@keyframes load {
  0% 		{ transform: rotate(0deg);}
  100% 		{ transform: rotate(11520deg);}
}
@keyframes loadScreen {
  0% 	{background-color: rgb(213, 0, 6)}
  20% 	{background-color: rgb(190, 0, 213)}
  /*50% 	{background-color: #8c008b}*/
  40% 	{background-color: rgb(0, 9, 213)}
  /*100% 	{background-color: #009e31}*/
  60% 	{background-color: rgb(11, 213, 0)}
  80% 	{background-color: rgb(213, 115, 0)}
  100% 	{background-color: rgb(213, 0, 6)}
}



.animate-load{
  animation-name: load;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.animate-loadScreen, .animate-background{
  animation-name: loadScreen;
  animation-duration: 32s;
  animation-iteration-count: infinite;
}
