.interview #main .interview_question{
  color: #eeeeee;
  font-size: 20px;
  padding: 10px;
}
.interview #main .interview_answer{
  color: #b1b1b1;
  font-size: 16px;
  padding: 10px;
}
.interview #main .interview_answer strong, .interview #main .interview_question strong{
  color: #eeeeee;
}
