.related-thumb{
  padding: 0;
  margin: 10px 0 10px 0;
  text-align: center;
}
.related-thumb .related-content{
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0.2);
  margin: 20px;
}
.related-thumb .related-content h1{
  background-color: rgba(0,0,0,0.6);
  margin: 0;
  padding: 10px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.4s;
}
.related-thumb .related-link{
  text-decoration: none;
  cursor: pointer;
}
.related-thumb .related-content:hover h1{
  visibility: visible;
  opacity: 1;
  transition: ease-in-out 0.4s;
}
.related-posts {
  width: 100%;
  margin: 0;
  font-size: 12px;
  background: #222222;
  position: absolute;
  bottom: 0;
  padding: 20px;
  -webkit-box-shadow: 0 -8px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 -8px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0 -8px 10px 0px rgba(0,0,0,0.5);
}
.related-posts h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
  text-align: center;
}
.related-thumb {
  margin: 0;
  float: left;
}
.related-thumb img {
  margin: auto;
  padding: 0;
}
